.apresentacao {
  color: var(--branco--principal);
  padding: 1rem 0.5rem;
  margin-top: 10px;
}
.apresentacao__h1 {
  text-align: center;
}
.apresentacao__imagem {
  width: 40%;
 border:3px solid var(--azul-detalhes);
 border-radius: 50%;

 animation: shadow 3s infinite linear;
}
.apresentacao__h2 {
  font-size: 1.875rem;
}
.apresentacao__h3 {
  font-weight: 200;
}
.apresentacao__p {
  font-size: 0.938rem;
}
.saiba__mais {
  display: flex;
  align-items: center;
}
.btn__saiba__mais {
  width: 4.5%;
}
.descricao {
  margin: 10px 20px;
  font-size: 0.875rem;
  width: 75%;
  padding: 0.5rem;
  border-left: solid 1px var(--branco--principal);
}
.girar {
  transform: rotate(270deg);
}
.curriculo {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.curriculo p {
  border: solid 3px var(--azul-detalhes);
  width: 70%;
}
.curriculo a {
  color: var(--azul-detalhes);
  text-decoration: none;
}
.curriculo a:hover{
  text-decoration: underline;
}
@media screen and (min-width: 789px) {
  .apresentacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px
  }
  .apresentacao__imagem {
    width: 20em;
  }
  .apresentacao__h3 {
    font-size: 3.75rem;
    font-weight: 400;
  }
  .apresentacao__h2 {
    font-size: 5rem;
    font-weight: 500;
  }
  .apresentacao__p {
    font-size: 1.875rem;
    font: 300;
  }
  .descricao {
    width: 521px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 23px;
  }
  .curriculo {
    justify-content: left;
    margin-top: 30px;
  }
  .curriculo p {
    width: 100%;
    font-size: 2.125rem;
    font-weight: 600;
    border-width: 5px;
  }
 
}

@keyframes shadow{
  0%{-webkit-box-shadow: 4px 4px 30px 0px var(--azul-detalhes);}
  50%{-webkit-box-shadow: 6px 6px 60px 5px #1ABCFE;}
  100%{-webkit-box-shadow: 4px 4px 30px 0px var(--azul-detalhes);}
}