.linha__form {
  width: 100%;
  margin-left: 10px;
}
.ilustracao__form {
  width: 200px;
}
@media screen and (min-width: 789px) {
  .ilustracao__form {
    width: 400px;
  }
  .desenhos {
    display: flex;
    flex-direction: column;
  }
}
