form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 0.5em;
    margin-left: 10px;
}
label,input{
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.9em;
}
input,textarea{
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #1abcfe;
    padding: 0 0.5rem;
    width: 35vw;
    max-height: 10vh;
}
.enviar{
    padding: 0em 0.5em;
}
