.meus-trabalhos {
  margin-top: 2rem;
  color: var(--branco--principal);
  display: flex;
  align-items: center;
  position: relative;
}
.paragrafo__trabalhos {
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 20px;
  text-align: center;
  position: absolute;
}
.trabalhos__img {
  width: 35vw;
  border-radius: 20px 0 20px 0;
}
.trabalhos__paragrafo {
  width: 35vw;
  font-size: 12px;
}
.projetos {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.projeto {
  width: 35vw;
  margin: 10px;
}
@media screen and (min-width: 789px) {
  .projetos {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .trabalhos__img {
    width: 300px;
    border-radius: 20px 0 20px 0;
  }
  .trabalhos__paragrafo {
    width: 300px;
    font-size: 20px;
  }
  .projeto {
    width: 300px;
    margin-left: 40px;
  }
  .paragrafo__trabalhos {
    font-size: 40px;
  }
  .meus-trabalhos {
    margin-top: 50px;
  }
}
